<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xsi:noNamespaceSchemaLocation='urn:magento:framework:App/etc/routes.xsd'>
    <router id="admin">
        <route id="southbay_order_entry" frontName="southbay_order_entry">
            <module name="Southbay_Product" before="Magento_Backend" />
        </route>
    </router>
</config>
